#tableArea table {
    font-size: 14px !important;
    margin-left: auto;
    margin-right: auto;
}
#tableArea table tbody {
    height: initial;
    font-size: 14px !important;
}

#nextyear img{
	display: block;
    margin-left: auto;
    margin-right: auto;
}
#tableArea input{
    font: 14px Arial !important;
}