
@import 'reset.css';

body {
	font-size: 75%;
	color: #222; 
	font-family: "Trebuchet MS", Arial, Verdana, San serif;
}

h1,h2,h3,h4,h5,h6 { 
	color: #111; 
	font-family: "Trebuchet MS", Arial, Verdana, San serif; 
}
.butstyle {
	position:relative;
	top:20px;
	margin-top:20px;
	background-color: #999;
	padding: 5px;
	border: 1px solid #333;
	color: white;
	}
p, h1,h2,h3,h4,h5,h6 { 
	font-weight: normal; 
	margin-left:14px; 
	margin-right:10px;
}
.deladd {display:block;
width:850px;
position:relative;
}
.delfloatleft {float:left;
padding-top:5px;
padding-left:10px;
padding-bottom:10px;

width:50px;}
.delfloatright {float:right;
}
h1 { 
	font-size: 1.2em; 
	line-height: 1; 
	margin-bottom: 0.5em; 
}
h2 { 
	font-size: 2em; 
	margin-bottom: 0.75em;
}
h3 { 
	font-size: 2em; 
	line-height: 1; 
	margin-bottom: 1em; 
}
h4 { 
	font-size: 1.2em; 
	line-height: 1.25; 
	margin-bottom: 1.25em;
}
h5 { 
	font-size: 1em; 
	font-weight: bold; 
	margin-bottom: 1.5em; 
}
h6 { 
	font-size: 1em; 
	font-weight: bold;
}

p { 
	margin-bottom:1.5em; 
}

a {
	color: #767371;
	text-decoration: none;
}

a:hover{
	color:#000;	
}

a.active {
	font-weight:bold;
}

.container {
	border: 1px solid #ebebeb;
	margin: 2em auto;
	padding:0 0 3em 0;
	width: 1020px;
}

.header {
	height: 100px;
}
.whitebox {
	margin-top:-10px;
	padding:5px;
	background-color:#FFF;
	border:1px solid #666;
}
p#logo {
	background: url(../images/logo.gif) no-repeat;
	height: 66px;
	float: right;
	margin: 20px 15px;
	text-indent: -99999em;
	width: 255px;
}

ul.nav {
	border-top: 1px solid #ebebeb;
	margin: 10px auto 0px auto;
	padding: 10px 0;
	width: 910px;
}

ul.nav li {
	display: inline;
	margin: 5px 33px 5px 0;
	list-style:none;
	font-family: Arial, Verdana, San serif; 
}

ul.nav li.active {
	font-weight: bold;
}
       
.main {
	border: 1px solid #ebebeb;
	margin: 0px auto 10px auto;
	width: 910px;
	padding:2px 0px 2px 0px;
}

.mainbg {
	width:906px;
	margin:0px auto;
	background-color:#1e110e;
}

.subnav {
	width:196px;
	float:left;
}

.subnav-title {
	color:#88817f;
	font-size:0.9em;
	padding:10px 15px 10px 15px;
	background-color:#231613;
}

.subnav ul li {
	list-style:none;
	display:block;
	background-color:#291d1a;
	margin-top:2px;
}

.subnav ul li a, .subnav ul li span {
	color:#cbc8c7;
	display:block;
	padding:10px 15px 10px 15px;
}

.subnav ul li a:hover {
	color:#ecebea;
	background-color:#352927;
}
	                               
.subnav ul li a.active {
	font-weight:bold;
	background-color:#352927;
}	

.subnav ul li.child {
  margin-top:0px;
}

.subnav ul li.child a {
	padding:4px 15px 4px 30px;
	font-size:0.9em;
}

.full-content {
	background-color:#ffffff;
	min-height:600px;
}

.content {
	width:1020px;
	background-color:#fff;
	float:left;
	color:#333333;
}

.content .page-title{
	background-color:#231613;
	color:#cbc8c7;
	font-size:1.1em;
	font-weight:bold;
	padding:9px 15px 9px 15px;
	float:none;
	margin-bottom:10px;
}

.content .media-page-title{
	background-color:#cbc8c7;
	color:#cbc8c7;
	font-size:1.1em;
	font-weight:bold;
	padding:9px 15px 9px 15px;
	float:none;
}

.content .one-col {
	border:none;
	margin:0;
}

.content .one-coljust {
	border:none;
	margin:0;
	text-align: justify;
}
.content .head-col {
	padding-top:0.5em;
}

.content .head-col p{
	margin-bottom:0.5em;
}


.content .two-col{
		text-align: justify;

	float:left;
	border:none;
	margin:0;
}

.content .alt-col{
	background-color:#f3f2f2;
}

.content .alt-col h3{
	margin-top:5px;
}

.content .video {
	background-color:#000;
	padding:5px;
}

.content ol, .content ul {
	margin-left:0px
}

.content .gallery{
	margin:0;
	background-color:#000;
	min-height:900px;
	padding-top:2px;
}

.content .gallery img{
	border:0;
	margin:2px 0px 0px 2px;
	width:230px;
	height:185px;
}

.content .showroom-img img{
	margin-top:1px;
	margin-left:20px;
	float:right;
}

.content .row{
	float:none;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 15px;
	margin-left: 75px;
}

.row label{
	margin:10px 5px 5px 0px;
}

.row .text, .row textarea{
	width:310px;
	border:1px solid #222;
}

.row textarea{
	height:80px;
}

.row select{
	width:auto;
}

.row .button{
	float:right;
	margin-right:13px;
	margin-bottom:10px;
}

.press .inline-img{
	float:left;
	margin:15px;
	border:1px solid #cccccc;
}

.press p{
	margin-top:30px;
}

.brochure {
	background-color:#f3f2f2;
}

p.credits {
	clear: both;
	margin: 0 auto;
	width: 920px;
}

.clear {
	clear:both;
}

.press .clear{
	clear:both;
	margin-bottom:20px;
}

.b {
	font-weight:bold;
}
.justifyright {
	float:right;}
#floatright {
	float:right;
	text-align: right;
	margin-right:0px;
}
#floatright {
	background-color: #006;
	color:#FFF;
	margin-right:0px;
	cursor: pointer;
}
#forminput {
	position:relative;
	left:200px;
}.purplebox {
	width:910px;
	background-color: #DED5FF;
	height: 25px;
	line-height:25px;
	color:#000;
}.greybox {
	width:910px;
	background-color: #CCC;
	height: 25px;
	line-height:25px;
	color:#000;
}.indentleft {float:left;
	margin-left:20px;
}#tick1, #tick2, #tick3, #tick4, #tick5, #tick6, #tick7, #tick8, #tick9, #tick10, #tick11, #tick12, #tick13 {
	float:right;
}
.addorderbox{
	color:#F00;
	font-weight:bold;
	border: 2px solid #F00;
	padding: 5px;
	float:left;
	margin-right:15px;
	}
.addorderbox a:link, .addorderbox a:active, .addorderbox a:visited {
	color:#F00;
	}
.addorderbox a:hover {
	color:#006;
	}
.redtext{
	color:#F00;
	}
.redtext a:link, .redtext a:active, .redtext a:visited {
	color:#F00;
	}
.redtext a:hover {
	color:#006;
	}
.greentext{
	color:#009900;
	}
.greentext a:link, .greentext a:active, .greentext a:visited {
	color:#009900;
	}
.greentext a:hover {
	color:#006;
	}
.bluetext{
	color:#3333CC;
	}
.bluetext a:link, .bluetext a:active, .bluetext a:visited {
	color:#3333CC;
	}
.bluetext a:hover {
	color:#000;
	}
.greytext{
	color:#555555;
	}
.greytext a:link, .greytext a:active, .greytext a:visited {
	color:#555555;
	}
.greytext a:hover {
	color:#000;
	}
.radiobxmargin {
	display:block;
	width:150px;
	float:left;}
.floatprice {
	margin-top:5px;
	margin-right:28px; 
	float:right;}
.floatpriceup {
	margin-top:-20px;
	margin-right:40px; 
	float:right;}
.floatpricenotop {
	margin-right:28px; 
	float:right;}
.horizontalline {
	margin: 4px;
	padding: 4px;
	width: auto;
	border: 1px solid #333;
	background-color: #eee;
	}
.tblborder {
	border: 1px solid #999;
}
#c1, #c2 {
	float:left;
	width:380px;
	border: 1px dashed #666;
}
.linewidth {width:952px;
margin-left:0;}
table.tableborder {
	border-width: 1px;
	padding: 3px;
	border-style: solid;
	border-color: gray;
	position:relative;
	left:17px;
}
table.tableborder td {
	border-width: 1px;
	padding: 3px;
	border-style: solid;
	border-color: gray;
}
.dz-class {
		    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.06);
		    border: 1px solid rgba(0, 0, 0, 0.06);
		    border-radius: 3px;
		    min-height: 70px;
		    padding: 6px;
		}
.dz-class img {float:left;
		    width:auto;
			height:40px;
			margin-left:10px;
			
		}
.dz-preview {float:left;}
.greybg {width:100%;
background-color:white;}
#adminhdr {margin:0;
background-color:#f3f3f3;
padding:0px;}
#adminhdr2 {margin:0;
background-color:#ccc;
padding:8px;}
#adminhdr ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f3f3f3;
}

#adminhdr li {
    float: left;
}

#adminhdr li a, .dropbtn {
    display: inline-block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#adminhdr li a:hover, .dropdown:hover .dropbtn {
    background-color: #666;
}

#adminhdr li.dropdown {
    display: inline-block;
}

#adminhdr .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index:999;
}

#adminhdr .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

#adminhdr .dropdown-content a:hover {background-color: #dcdcdc}

#adminhdr .dropdown:hover .dropdown-content {
    display: block;
}