select{
	font-size: 12px;
	width:90%;
	margin-bottom: 3px;
    margin-top: 1px;
}
#userdetail h5{
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 5px;
    margin-left:0px;
}
.userdetailbuttons{
	margin-top:15px;
	margin-bottom:15px;
	text-align:center;
}
.userdetailbutton{
	margin-left:5px;
	margin-right:5px;
	padding: 1px 3px;
}
#tableArea{
	width:100%;
}
th.tablecell{
	text-align:left;
}
#tableArea input{
	width: 90%;
	font: 10px Arial;
	text-align: center;
	background-color: transparent;
}
#tableArea table{
	font-size:12px;
	margin-left: auto;
    margin-right: auto;
    width: 1000px;
}
#tableArea table tbody{
	height:initial;
	font-size:12px;
	
}
#userdetail{
	margin: 2em auto;
    width: 1020px;
}
#rightNav{
	width: 300px;
    float: right;
    margin-top: 10px;	
}
#search_reset,#search{
	padding: 1px 5px;
}    
#tableArea table #datatable{
	/*height:400px;*/
	overflow-y: auto;
	overflow-x: hidden;
	margin-left: 4px;
}
#tableArea table #datatable tr td{
	text-align:center;
	padding-top: 10px;
    padding-bottom: 10px;
}
#tableArea table #datatable tr .align-left{
	text-align: left;
}
table{
	border-collapse:collapse;
}

td,th{
	border:none;
}
#content{
	overflow: initial;
}
.clear{
	clear:both;
}
.lastlogin{
	float:right;
}
.userdetailtable{
	width:100%;
}
.userdetailtable tbody{
	height: initial;
	width:100%;
	display:table;
}
.userdetailtable tr:nth-child(even) {
    background: white;
}
.subtable{
	margin:0;
	width:100%:
}
.subtable .subtablerow td{
	border:none;
}

.aliginright{
	/*text-align:right;*/
}
.subinput{
	width:70%;
}
select.subinput{
	width:70.5%;
}
.narrowarea{
	margin: 2em auto;
    width: 1020px;
}
.availablerole,.currentrole{
	width:45%;
	float:left;
	padding:10px;
}
.ui-draggable-dragging{
	width:180px;
}
.droppable ul{
	width:40%;
	margin-left:auto;
	margin-right:auto;
}
fieldset legend {
    color: black;
    font-size: 16px;
    font-weight: bold;
}
input[type=checkbox]{
	width:15px;
	height:15px;
}
li.roleblock.draggable{
	list-style:none;
	background-color:lightgrey;
	padding:0px 0px;
	cursor:move;
	position:relative;
}
.role-description{
	position:absolute;
	border:1px solid black;
	padding: 3px 5px;
	display:none;
	z-index:9999;
	left:60px;
	background-color:white;
}
.role-title{
	padding:5px 5px;
	width:80%;
	float:left;
}
.role-control{
	width:10%;
	float:right;
	text-align:center;	
	background-color:black;
}
.role-control a{
	font-size:20px;
	color:white;
}
.role-control a:hover{
	color:red;
}
.title{
	text-align:center;
}
.controlarea,.roleblock{
	text-align:center;
	margin-top:15px;
	margin-bottom:15px;
}
.controlarea{
	margin-top:15px;
}
.controlarea button{
	font-size:18px;
	padding:5px 50px;
}
#tableControllPanel,#salefigureMenu{
	margin: 2em auto;
    width: 1020px;
    background-color: #f3f3f3;
    margin-top:0px;
    height: 40px;
}
#salefigureMenu {
	margin-bottom:0px;
}
#tableControllPanel{
	padding-top:5px;
	font-size:12px;
	height: 45px;
	background-color: #ccc;
}
#tableControllPanel button{
	padding:6px;
	margin: 3px 20px;
}
.salefigureMenuTile a{
	color:black;
}
#pageNum{
	text-align: center;
}
.pageNumber{
	font-size: 15px;
    margin-left: 5px;
    margin-right: 5px;
}
.pageNumber.strong{
	font-size: 22px;
}
#salefigureMenu ul{
	list-style-type: none;
}
#salefigureMenu ul:after{
	clear:both;
}
li.salefigureMenuTile:hover{
	background-color: #666;
}
#salefigureMenu ul li .salefigure_submenu a{
	color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
#tableControllPanel div,#salefigureMenu ul li{
	float:left;
	padding-left:50px;
	padding-right:50px;
	display: inline-block;
}
#tableControllPanel div{
	padding:5px 10px;
	margin-top: 5px;
	margin-left:30px;
	margin-right:30px;
	border: 1px solid black;
}
#tableControllPanel div:hover{
	cursor:pointer;
	background-color:#666;
}
#tableControllPanel div a{
	font-size:15px;
}
#salefigureMenu ul .salefigureBigTile{
	margin-left:0px;
}
.salefigure_submenu{
	position:absolute;
	left:0px;
	display:none;
	background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 999;
    margin-top:10px;
}
.salefigureMenuTile{
	padding-top:10px;
	padding-bottom:10px;
	position:relative;
}
.salefigureBigTile h3{
	margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 0px;
    font-size:14px;
}
.salefigure_submenu a:hover{
	background-color: lightgrey;
	cursor:pointer;
}
#header{
	padding:0;
}
.salefigureMenuTile a:hover{
	cursor:pointer;
}

.tablecell{
	max-width:50px;
	min-width:50px;
	padding:3px;
	/*word-wrap: break-word;*/
}
.twotablecell{
	max-width:107px; /*two tablecell, two padding, 1 border*/
	min-width:107px;
	padding:3px;
}
.fourtablecell{
	max-width:221px; /*two twotablecell, two padding, 1 border*/
	min-width:221px;
	padding:3px;
}
.sixtablecell{
	max-width:335px; /*three twotablecell, four padding, 2 border*/
	min-width:335px;
	padding:3px;	
}
.eighttablecell{
	max-width:449px; /*two 4tablecell, two padding, 1 border*/
	min-width:449px;
	padding:3px;	
}

.tentablecell{
	max-width:563px; /*five twotablecell, eight padding, 4 border*/
	min-width:563px;
	padding:3px;	
}
.onesixtablecell{
	max-width:905px; /*two 8tablecell, two padding, 1 border*/
	min-width:905px;
	padding:3px;	
}
.threetwotablecell{
	max-width:1817px; /*two 16tablecell, two padding, 1 border*/
	min-width:1817px;
	padding:3px;	
}
.emptycell{
	height:20px;
}
.topcell{
	border-top:1px solid black;
}
.leftcell{
	border-left:1px solid black;
}
.rightcell{
	border-right:1px solid black;
}
.bottomcell{
	border-bottom:1px solid black;
}
.bordercell{
	border:1px solid black;
}
.topbottomcell{
	border-bottom:1px solid black;
	border-top:1px solid black;
}
.nobottomcell{
	border-bottom:none;
}
.orangecell{
	background-color:orange;
}
.lightgreencell{
	background-color:lightgreen;
}
.disablebg{
	border:none;
}
.changed{
	background-color:yellow !important;
}
#testTable{
	margin-left: auto;
    margin-right: auto;
    width: initial;
}
#tableControllPanel .inputcell:hover{
	background-color:transparent;
}
.tagitem{
	width:200px;
	float:left;
	cursor:pointer;
	text-align:center;
	border:1px solid lightgrey;
	border-bottom:none;
	font-size: 15px;
    padding: 3px 8px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.taginfo{
	position:relative;
	border:1px solid lightgrey;
	height:250px;
	padding:20px;
}
.taginfoitem{
	position:absolute;
	display:none;
	width:500px;
	
}
.resetinput{
	width:300px
}
.taginfoitem button{
	margin: 20px;
	margin-left: 0px;
	padding: 3px 8px;
}
#allUserRoleTable thead tr th{
	font-size:9px;
	text-align: left;
}
.generatepass{
	margin-left:3px;
}
.showpassblock{
	margin-left:5px;
}
.multiinfoarea{
	width:100%;
	height:50px;
}
.fixwidth{
	max-width:280px;
	min-width:120px;
}
.hidebutton{
	display:none;
}
.sort_button{
	margin-left: auto;
    width: 64px;
    margin-right: auto;
}
.availablerolelist ,.currentrolelist{
	height:560px;
	width: 80%;
}
.currentroleArea,.availableroleArea{
	border:1px solid black;
}
#tableArea table #datatable tr td.tablecell.align-right, th.tablecell.align-right{
	text-align:right;
}
.username{
	overflow:auto;
}
#tableArea input[type=checkbox].controlled{
	width: initial;
	float:left;
}
#tableArea table #datatable tr td.username{
	text-align: left;
}
#tableArea table tbody#datatable{
	margin-left: 0px;
}