html {font-family: 'Tahoma, Geneva, sans-serif'; color:#000; margin-top:5px; margin-left:14px;margin-right:12px;}
body {
	font-family: 'Tahoma, Geneva, sans-serif';
	color:#999;
	margin-top:-10px;
	margin-left:12px;
	margin-right:15px;
}
p {
    color:#000;
	font-size: 12px;
    font-weight: normal;
    font-style: normal;
}
.title {
font-size:16px;
font-weight:400;}
.hdrsmalltxt {
font-size:10px !important;
font-weight:400;}
.clear {clear:both; line-height:3px;}
#c1, #c2 {
	width:33%;
	max-width:33%;
	float:left;
	border:solid;
	border: 1px solid #000;
	margin-right:2px;
	height:110px;
	font-size: 10px;
	position:relative;
	top:6px;
}
#c3 {
	width:32.7%;
	max-width:32.7%;
	float:left;
	border:solid;
	border: 1px solid #000;
	margin-right:2px;
	height:110px;
	font-size: 10px;
	position:relative;
	top:6px;
}
.c4 {font-size: 10px;
    font-weight: normal;
    font-style: normal;
	width:100%;
	border:solid;
	border: 1px solid #000;
	margin-top:7px;
	position:relative; }
.c5 {font-size: 10px;
    font-weight: normal;
    font-style: normal;
	width:100%;
	border:solid;
	border: 1px solid #000;
	margin-top:3px;
	position:relative; }
.colpayments {font-size: 10px;
    font-weight: normal;
    font-style: normal;
	height:110px !important;
	width:100%;
	border:solid;
	border: 1px solid #000;
	margin-top:7px;
	position:relative;
	 }
.box {
  border: 1px solid #CCC;
  outline: 1px solid #CCC;
  padding:2px;
  margin:3px;
}

h5 {
    page-break-before: always;
  }
table.comminv {
	width: 99%;
	border: 0.5px solid #808080; /*for older IE*/
	border-spacing: 0px;
	border-collapse: collapse;
	font-family: 'Tahoma, Geneva, sans-serif'; color:#000; font-size:10px;
	
}
table.comminv td{
	border: 0.5px solid #808080; /*for older IE*/
	line-height:13px;
	padding-right:2px;
	padding-left:2px;
}
.comminv2 td{
	border: 0px none #ccc !important;
	border-right:0.5px solid #ccc !important;
}
table.comminv tr td {height:8px !important;}
.noborder{
border: 0px none #808080 !important;
}

table.manifest {
	width: 99%;
	border: 0.5px solid #808080; /*for older IE*/
	border-spacing: 0px;
	/*border-collapse: collapse;?*/>
	font-family: 'Tahoma, Geneva, sans-serif'; color:#000; font-size:10px;
	
}
table.manifest td {
	border: 0.5px solid #808080; /*for older IE*/
	line-height:13px;
	padding-right:2px;
	padding-left:2px;
}

.topbottom{
border: 0px none #808080 !important;
border-top: 0.3px solid #808080 !important; /*for older IE*/
border-bottom: 0.3px solid #808080 !important; /*for older IE*/

}

.topborder{
border: 0px none #808080 !important;
border-top: 0.5px solid #808080 !important; /*for older IE*/
}
.toprightborder{
border: 0px none #808080 !important;
border-top: 0.5px solid #808080 !important; /*for older IE*/
border-right: 0.5px solid #808080 !important; /*for older IE*/
}
.topleftborder{
border: 0px none #808080 !important;
border-top: 0.5px solid #808080 !important; /*for older IE*/
border-left: 0.5px solid #808080 !important; /*for older IE*/
}
.bottomline {
border: 0px none #808080 !important;
border-top: 0px none #808080 !important; /*for older IE*/
border-right: 0px none #808080 !important; /*for older IE*/
border-left: 0px none #808080 !important; /*for older IE*/
border-bottom: 0.5px solid #808080 !important; /*for older IE*/

}


.thinhr { border:0.5px solid #ccc; }

/*picking note css*/
.pickingnote {font-size: 22px; font-weight: 800; text-align:center;}
.pnorderno {font-size: 16px; font-weight: 600; text-align:center;}
.pnshowroom {
	font-size: 12px;
    font-weight: normal;
    font-style: normal;
}
.p1 {font-size: 10px;
    font-weight: normal;
    font-style: normal;
	width:80%;
	float:left;
	border:solid;
	border: 1px solid #000;
	margin-top:2px;
	position:relative; }
.p2 {font-size: 10px;
    font-weight: normal;
    font-style: normal;
	width:18%;
	float:right;
	border:solid;
	border: 0px solid #000;
	margin-top:2px;
	position:relative; }
.baytotals {
	margin-top:40px; position:relative; text-align:center;}
/*end picking note css*/
/*cases css */
#x1 {
	width:27%;
	max-width:27%;
	float:left;
	border:solid;
	border: 1px solid #000;
	margin-right:2px;
	height:150px;
	font-size: 10px;
	position:relative;
	top:12px;
	padding:10px;
}
#x2 {
	width:38%;
	max-width:38%;
	float:left;
	border:solid;
	border: none;
	margin-right:2px;
	height:150px;
	font-size: 10px;
	position:relative;
	top:1px;
}
#x3 {
	width:27%;
	max-width:27%;
	float:left;
	border:solid;
	border: 1px solid #000;
	margin-right:12px;
	height:150px;
	font-size: 10px;
	position:relative;
	top:12px;
	padding:10px;
}

.xx1 {
	width:35%;
	max-width:35%;
	float:left;
	border:none;
	margin-right:2px;
	font-size: 12px;
	position:relative;
	top:6px;
	padding:10px;
	line-height:16px;
}
.xx2 {
	width:25%;
	max-width:25%;
	float:left;
	border: none;
	margin-right:2px;
	font-size: 12px;
	position:relative;
	top:6px;
	line-height:16px;
}
.xxx2 {
	width:30%;
	max-width:25%;
	float:left;
	border: none;
	margin-right:2px;
	font-size: 12px;
	position:relative;
	top:6px;
	line-height:16px;
}
.xx3 {
	width:41%;
	max-width:41%;
	float:right;
	border:solid;
	border: 1px solid #000;
	margin-right:12px;
	font-size: 12px;
	position:relative;
	top:6px;
	padding:10px;
	line-height:16px;
}
.xxx3 {
	width:31%;
	max-width:31%;
	float:right;
	border:solid;
	border: 1px solid #000;
	margin-right:12px;
	font-size: 12px;
	position:relative;
	top:6px;
	padding:10px;
	line-height:16px;
}
.square {
	width:10px;
	min-width:10px;
	height:10px;
	min-height:10px;
	border:1px solid #000;

}
.squarecenter {
	width:10px;
	min-width:10px;
	height:10px;
	min-height:10px;
	border:1px solid #000;
	margin-left:49%;
	position:relative;
	
}
tr.border_bottom td {
  border-bottom:1pt solid black;
}
td.border_right  {
  border-right:1pt solid grey;
}
/*Frames styles*/
#fx1 {
	width:48%;
	max-width:48%;
	float:left;
	border:none;
	margin-right:2px;
	font-size: 14px;
	position:relative;
	top:6px;
	padding:10px;
	line-height:16px;
}
#fx2 {
	width:48%;
	max-width:48%;
	height:470px;
	float:right;
	border:solid;
	border: 1px solid #000;
	margin-right:12px;
	font-size: 14px;
	top:6px;
	padding:10px;
	line-height:16px;
	position:relative;
	
}
#fx3 {
	width:100%;
	max-width:100%;
	float:left;
	border:solid;
	border: 1px solid #000;
	margin-right:12px;
	font-size: 12px;
	position:relative;
	top:6px;
	padding:10px;
	line-height:16px;
}
#bottom {
  position: absolute;
  bottom: 280;
  left: 10;
}

/*Legs pdf styles*/
#Lx1 {
	width:48%;
	max-width:48%;
	float:left;
	border:none;
	margin-right:2px;
	font-size: 14px;
	position:relative;
	top:6px;
	padding:10px;
	line-height:13px;
}
#Lx2 {
	width:38%;
	max-width:38%;
	float:right;
	border:none;
	margin-right:12px;
	font-size: 14px;
	top:6px;
	padding:10px;
	line-height:16px;
	position:relative;
	
}
/*delivery note css*/
.deliverynote {font-size: 22px; font-weight: 800; text-align:center; margin-top:-60px;}

/*whglesaleinvoice style css*/

#WS1 {
	width:48%;
	max-width:48%;
	float:left;
	border:solid;
	border: 1px solid #000;
	margin-right:2px;
	height:110px;
	font-size: 10px;
	position:relative;
	top:6px;
}
#WS2 {
	width:48%;
	max-width:48%;
	float:right;
	border:solid;
	border: 1px solid #000;
	margin-right:2px;
	height:110px;
	font-size: 10px;
	position:relative;
	top:6px;
}
.wholesalefont {
	font-size:10px;
	line-height:13px;}
	

@media print {
    .pageBreak {
        page-break-after: always;
    }
}


