
@import 'reset.css';
body {font-size: 75%;}
.delnote {
    height: 100px;
    margin-left: 1059px;
    position: fixed;
    z-index: 1099;
}
#right-button {
	position: fixed;
	height: 100px;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
	}
	
	
label {
    display: initial;
    margin-bottom: 3px;
}
ul, li{
	margin:0 0;
}
a{
	font-weight:normal;
}
label{
	font-size: 12px;
}

.message {
clear: both;
color: #fff;
font-size: 140%;
font-weight: bold;
margin: 0 0 1em 0;
padding: 5px;
}
.success {
	clear: both;
	color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.5);
	background: #3B8230;
	background-repeat: repeat-x;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#76BF6B), to(#3B8230));
	background-image: -webkit-linear-gradient(top, #76BF6B, #3B8230);
	background-image: -moz-linear-gradient(top, #76BF6B, #3B8230);
	background-image: -ms-linear-gradient(top, #76BF6B, #3B8230);
	background-image: -o-linear-gradient(top, #76BF6B, #3B8230);
	background-image: linear-gradient(top, #76BF6B, #3B8230);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}

.jconfirm .jconfirm-box div.jconfirm-title-c {
    display: block;
    font-size: 12px;
    line-height: 20px;
}


.jconfirm .jconfirm-box-container.jconfirm-no-transition {
    -webkit-transition: none !important;
    transition: none !important;
    min-width: 500px;
}

.jconfirm.jconfirm-white .jconfirm-box, .jconfirm.jconfirm-light .jconfirm-box {
	font-family:"Trebuchet MS",Arial,Verdana,San serif !important;
	margin-right:10% !important;
	}
.jconfirm.jconfirm-white .jconfirm-box .jconfirm-buttons button.btn-default, .jconfirm.jconfirm-light .jconfirm-box .jconfirm-buttons button.btn-default {
  font-size:14px !important;}
.jconfirm.jconfirm-white .jconfirm-box .jconfirm-buttons, .jconfirm.jconfirm-light .jconfirm-box .jconfirm-buttons {
  float:none !important;
  text-align:center !important;
  font-size:12px !important;
  font-style:normal !important;}
.jconfirm .jconfirm-box .jconfirm-buttons button {
  font-size:12px !important;}

  .box {
    margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
    background-color: #FFFFFF;
    padding: 10px;
    border: 1px solid #F00;
}

#adminhdr2 form{
	width:100%
}
#header{
	border: 1px solid #ebebeb;
    margin: 2em auto;
    padding: 0 0 3em 0;
    width: 1020px;
}
#header a{
	color: #767371;
}
#header a:hover{
	color:black;
}
#header p a{
	color:grey;
}
#header p a:hover {
    color: #000;
}
h3{
	color:black;
}
a{
	color:black;
	text-decoration:none;
}

#navbuttom{

	float: right;
	margin-bottom: 20px;
	margin-right:2%;
}
#navbuttom:after{
	clear:both;
}

.filter-selected{
	opacity: 0.3;
}

.emptycell{
	height:50px;
}
.topcell{
	border-top:2px solid black;
}
.leftcell{
	border-left:2px solid black;
}
.rightcell{
	border-right:2px solid black;
}
.bottomcell{
	border-bottom:2px solid black;
}
.nobottomcell{
	border-bottom:none;
}
.greencell{
	background-color:green;
}
.transparentcell{
	background-color:transparent;
}
.yellowcell{
	background-color:yellow;
}
.redcell{
	background-color:red;
}
.centertext{
	text-align:center;
}
.colorzone{
	height:5px;
	width:100%;
	margin-bottom:10px;
}
.cellContainedColorZone{
	padding-left:0;
	padding-right:0;
	padding-top:0;
}
.colorzoneWords{
	padding-left:6px;
	padding-right:6px;
}

.butstyle {
	position:relative;
	top:20px;
	margin-top:20px;
	background-color: #999;
	padding: 5px;
	border: 1px solid #333;
	color: white;
	}

.deladd {display:block;
width:850px;
position:relative;
}
.delfloatleft {float:left;
padding-top:5px;
padding-left:10px;
padding-bottom:10px;

width:50px;}
.delfloatright {float:right;
}
h1 { 
	font-size: 1em; 
	line-height: 1; 
	margin-bottom: 0.5em; 
}
h5 { 
	font-size: 1em;
	font-weight: bold; 
	line-height: 1; 
	margin-bottom: 0.5em; 
}

.container {
	border: none;
	margin: 2em auto;
	padding:0 0 3em 0;
	max-width: 1020px !important;
}


.header {
	height: 100px;
}
.whitebox {
	margin-top:-10px;
	padding:5px;
	background-color:#FFF;
	border:1px solid #666;
}
p#logo {
	background: url(../images/logo.gif) no-repeat;
	height: 66px;
	float: right;
	margin: 20px 15px;
	text-indent: -99999em;
	width: 255px;
}

ul.nav {
	border-top: 1px solid #ebebeb;
	margin: 10px auto 0px auto;
	padding: 10px 0;
	width: 910px;
}

ul.nav li {
	display: inline;
	margin: 5px 33px 5px 0;
	list-style:none;
	font-family: Arial, Verdana, San serif; 
}

ul.nav li.active {
	font-weight: bold;
}
       
.main {
	border: 1px solid #ebebeb;
	margin: 0px auto 10px auto;
	width: 910px;
	padding:2px 0px 2px 0px;
}

.mainbg {
	width:906px;
	margin:0px auto;
	background-color:#1e110e;
}

.subnav {
	width:196px;
	float:left;
}

.subnav-title {
	color:#88817f;
	font-size:0.9em;
	padding:10px 15px 10px 15px;
	background-color:#231613;
}

.subnav ul li {
	list-style:none;
	display:block;
	background-color:#291d1a;
	margin-top:2px;
}

.subnav ul li a, .subnav ul li span {
	color:#cbc8c7;
	display:block;
	padding:10px 15px 10px 15px;
}

.subnav ul li a:hover {
	color:#ecebea;
	background-color:#352927;
}
	                               
.subnav ul li a.active {
	font-weight:bold;
	background-color:#352927;
}	

.subnav ul li.child {
  margin-top:0px;
}

.subnav ul li.child a {
	padding:4px 15px 4px 30px;
	font-size:0.9em;
}

.full-content {
	background-color:#ffffff;
	min-height:600px;
}

.content {
	width:1020px;
	background-color:#fff;
	float:left;
	color:#333333;
}

.content .page-title{
	background-color:#231613;
	color:#cbc8c7;
	font-size:1.1em;
	font-weight:bold;
	padding:9px 15px 9px 15px;
	float:none;
	margin-bottom:10px;
}
.form-control {
display: block;
width: 100%;
height: calc(1.25rem + 2px);
padding: .0rem .3rem;
font-size: 1rem;
line-height: 1;
color: #495057;
background-color: #fff;
background-clip: padding-box;
border: 1px solid #000000;
border-radius: .25rem;
transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.prod {
border-width: thin;
border-spacing: 0px;
border-style: solid;
border-color: gray;
border-collapse: separate;
background-color: rgb(255, 255, 240);
}
.logistics {
	border-width: thin;
	border-spacing: 0px;
	border-style: solid;
	border-color: gray;
	border-collapse: separate;
	background-color: #FAF0E6;
	}
.hyphen-line {
	border: none;             /* Remove the default border */
	text-align: center;       /* Center-align the hyphens */
	font-size: 10px;          /* Adjust the size of the hyphens */
	color: black; 
	margin-top:1px;
	margin-bottom:1px;            /* Set the color of the hyphens */
  }
  
  .hyphen-line::before {
	content: '-----------------------'; /* Create a string of hyphens */
	font-family: monospace;     /* Use a monospace font for even spacing */
  }
.content .media-page-title{
	background-color:#cbc8c7;
	color:#cbc8c7;
	font-size:1.1em;
	font-weight:bold;
	padding:9px 15px 9px 15px;
	float:none;
}

.content .one-col {
	border:none;
	margin:0;
}

.content .one-coljust {
	border:none;
	margin:0;
	text-align: justify;
}
.content .head-col {
	padding-top:0.5em;
}

.content .head-col p{
	margin-bottom:0.5em;
}


.content .two-col{
		text-align: justify;

	float:left;
	border:none;
	margin:0;
}

.content .alt-col{
	background-color:#f3f2f2;
}

.content .alt-col h3{
	margin-top:5px;
}

.content .video {
	background-color:#000;
	padding:5px;
}

.content ol, .content ul {
	margin-left:0px
}

.content .gallery{
	margin:0;
	background-color:#000;
	min-height:900px;
	padding-top:2px;
}

.content .gallery img{
	border:0;
	margin:2px 0px 0px 2px;
	width:230px;
	height:185px;
}

.content .showroom-img img{
	margin-top:1px;
	margin-left:20px;
	float:right;
}

.content .row{
	float:none;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 15px;
	margin-left: 75px;
}

.row label{
	margin:10px 5px 5px 0px;
}

.row .text, .row textarea{
	width:100%;
	border:1px solid #222;
}

.row textarea{
	height:30px;
}

.row select{
	width:auto;
}

.row .button{
	float:right;
	margin-right:13px;
	margin-bottom:10px;
}

.press .inline-img{
	float:left;
	margin:15px;
	border:1px solid #cccccc;
}

.press p{
	margin-top:30px;
}

.brochure {
	background-color:#f3f2f2;
}

p.credits {
	clear: both;
	margin: 0 auto;
	width: 920px;
}

.clear {
	clear:both;
}

.press .clear{
	clear:both;
	margin-bottom:20px;
}

.b {
	font-weight:bold;
}
.justifyright {
	float:right;}
#floatright {
	float:right;
	text-align: right;
	margin-right:0px;
}
#floatright {
	background-color: #006;
	color:#FFF;
	margin-right:0px;
	cursor: pointer;
}
#forminput {
	position:relative;
	left:200px;
}.purplebox {
	width:100%;
	background-color: #DED5FF;
	height: 25px;
	line-height:25px;
	color:#000;
}
.greybox {
	width:910px;
	background-color: #CCC;
	height: 25px;
	line-height:25px;
	color:#000;
}.indentleft {float:left;
	margin-left:20px;
}#tick1, #tick2, #tick3, #tick4, #tick5, #tick6, #tick7, #tick8, #tick9, #tick10, #tick11, #tick12, #tick13 {
	float:right;
}
.addorderbox{
	color:#F00;
	font-weight:bold;
	border: 2px solid #F00;
	padding: 5px;
	float:left;
	margin-right:15px;
	}
.addorderbox a:link, .addorderbox a:active, .addorderbox a:visited {
	color:#F00;
	}
.addorderbox a:hover {
	color:#006;
	}
.redtext{
	color:#F00;
	}
.redtext a:link, .redtext a:active, .redtext a:visited {
	color:#F00;
	}
.redtext a:hover {
	color:#006;
	}
.greentext{
	color:#009900;
	}
.greentext a:link, .greentext a:active, .greentext a:visited {
	color:#009900;
	}
.greentext a:hover {
	color:#006;
	}
.bluetext{
	color:#3333CC;
	}
.bluetext a:link, .bluetext a:active, .bluetext a:visited {
	color:#3333CC;
	}
.bluetext a:hover {
	color:#000;
	}
.greytext{
	color:#555555;
	}
.greytext a:link, .greytext a:active, .greytext a:visited {
	color:#555555;
	}
.greytext a:hover {
	color:#000;
	}
.radiobxmargin {
	display:block;
	width:150px;
	float:left;}
.floatprice {
	margin-top:5px;
	margin-right:28px; 
	float:right;}
.floatpriceup {
	margin-top:-20px;
	margin-right:40px; 
	float:right;}
.floatpricenotop {
	margin-right:28px; 
	float:right;}
.horizontalline {
	margin: 4px;
	padding: 4px;
	width: auto;
	border: 1px solid #333;
	background-color: #eee;
	}
.tblborder {
	border: 1px solid #999;
}
#c1, #c2 {
	float:left;
	width:380px;
	border: 1px dashed #666;
}
.linewidth {width:952px;
margin-left:0;}
table.tableborder {
	border-width: 1px;
	padding: 3px;
	border-style: solid;
	border-color: gray;
	position:relative;
	left:17px;
}
table.tableborder td {
	border-width: 1px;
	padding: 3px;
	border-style: solid;
	border-color: gray;
}
.dz-class {
		    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.06);
		    border: 1px solid rgba(0, 0, 0, 0.06);
		    border-radius: 3px;
		    min-height: 70px;
		    padding: 6px;
		}
.dz-class img {float:left;
		    width:auto;
			height:40px;
			margin-left:10px;
			
		}
.dz-preview {float:left;}
.greybg {width:100%;
background-color:white;}
#adminhdr {margin:0;
background-color:#f3f3f3;
padding:0px;}
#adminhdr2 {margin:0;
background-color:#ccc;
padding:8px;}
#adminhdr ul {
    list-style-type: none;
    margin: 0 0 -3px 0px;
    padding: 0;
    overflow: visible;
    background-color: #f3f3f3;
    display: inline-block;
    width: 100%;
}

#adminhdr li {
    float: left;
}

#adminhdr li a, .dropbtn {
    display: inline-block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#adminhdr li a:hover, .dropdown:hover .dropbtn {
    background-color: #666;
}

#adminhdr li.dropdown {
    display: inline-block;
}

#adminhdr .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index:999;
}

#adminhdr .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

#adminhdr .dropdown-content a:hover {background-color: #dcdcdc}

#adminhdr .dropdown:hover .dropdown-content {
    display: block;
}
#brochureform {
margin: auto;
max-width: 1020px;}
table.brochurecenter {
    margin-left:auto; 
    margin-right:auto;
	width:416px;
  }
table.tablebd {
	border: 1px solid #999;
	width: 100%;
	border-collapse:collapse;
}
table.tablebd td, table.tablebd th {
  border: 1px solid #999;
  padding: 6px 4px;
}
.table td, .table th {
    padding: 0.25rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
#ordercontainer {
	background-color: #f3f2f2;
	border: 1px solid #ebebeb;
	margin: 2em auto;
	padding: 0 0 3em 0;
	max-width:1020px;
	color:#333;
	font-size:85%;
	font-family: "Trebuchet MS", Arial, Verdana, San serif;
	}
.row-m-t{
  margin-top : 10px
}
.ordershr {
  background-size: 4px;
  border-top: 4px solid #FFF0F2;
  border-color: #FFF0F2;
  background-color: red;
}
hr.h-divider {
	border-top: 1px solid #000;
		width: 100%;
		margin-left: 0px;
		margin-right: 20px;
	}
.table>tbody>tr>td,
.table>tbody>tr>th,
.table>thead>tr>th {
	border-top: none;
	border-bottom: none;
}



.ordertxt1 {
	text-align: right;
}
.card-title {
	text-align: right;
}

.form-control-sm {
    font-size: 0.75rem !important;
	color: #000 !important;
}
textarea.form-control {
    font-size: 0.75rem !important;
	color: #000 !important;
}
.form-control {
	font-size: 0.75rem !important;
	color: #000 !important;
}
.modal {
	display: none;
	position: fixed;
	z-index: 999;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
	background-color: #ffffff;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 50%;
  }
.smallproductiontext {
	font-size:10px;
}
.bgwhite {
	background-color:#fff;
	padding-right:2px;
}
  
@media (max-width: 767.98px) {
	/*By default, containers are only full-width on xs screens. 
	This makes them full-width om sm screens as well*/
	.container {
	  margin-left: 0;
	  margin-right: 40px;
	  max-width: 100% !important;
	}
  }
 
  